.card-image-selector-images-list {
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    row-gap: 15px;

    .card-image-block-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        cursor: pointer;
        justify-items: center;

        .card-image-preview {
            width: 160px;
            height: 100px;
            object-fit: cover;
        }
    }
}