.selected-icon-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    cursor: pointer;
    justify-items: center;

    .selected-icon-block {
        background-color: red;
        width: 32px;
        height: 32px;

        .selected-icon-preview {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
    }
}

.selected-color-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    cursor: pointer;
    justify-items: center;

    .selected-color-round {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        &.no-color {
            border: 1px solid grey;
        }
    }
}