.category-icon-selector-icons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    row-gap: 15px;

    .category-icon-block-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        cursor: pointer;
        justify-items: center;
        background-color: red;

        .category-icon-preview {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
    }
}