.log-card {
    max-height: 350px;
}

.error-log-data-row {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 15px;
    margin-bottom: 10px;

    .error-log-data-title {
        font-size: 14px;
        font-weight: 500;
    }

    .error-log-data-value {
        font-size: 14px;
        font-weight: 600;
        word-wrap: break-word;
        word-break: break-all;

        &.trace {
            font-size: 13px;
        }
    }
}

.error-log-pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}