.price-list-card-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;

    .price-list-card-header-action-container {
        display: grid;
        justify-content: end;
    }
}